.row {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}

.summaryReportWrapper {
  border: 2px solid black;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.light {
  color: rgb(124, 120, 120);
}

.checkoutBtn {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.checkoutBtn:hover {
  background-color: white;

  border: 2px solid black;
  color: black;
}
