.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  border-bottom: 2px solid black;
}

.navItems {
  display: flex;
  gap: 3rem;
}

.checkout {
  position: relative;
}

.checkout span {
  position: absolute;
  top: -10px;
  right: -8px;
}
