@import url(../../styles/reset.css);

.productImage {
  height: auto;
  width: 150px;
}
.productWrapper {
  display: grid;

  padding: 1.5rem;
  border: 2px solid black;
  gap: 0.5rem;
}

.quantityBtn button {
  background-color: transparent;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.description {
  display: grid;

  gap: 0.5rem;
}

input {
  width: 30px;
  text-align: center;
}

.addToCartBtn {
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
}

.addToCartBtn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.quantityBtn {
  border: 2px solid black;
}

.quantityBtn button,
.quantityBtn input,
.quantityBtn input:focus {
  border: none;
  padding: 3px 5px;
  outline: none;
}
